*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif; 
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#d4fc79,#96e6a1);
    animation: colorChange 10s infinite alternate;
}
@keyframes colorChange {
    0%{
        background: #e0c3fc;
    }
   100%{
        background: #c3e8fc;
    }
    
}
